
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Online voting system</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'evoting/css/opensans-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'evoting/css/bootstrap.css' %}">

	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="{% static 'evoting/css/jquery-ui.min.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'evoting/css/style.css'%}"/>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'profile' %}">Online Voting System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Home</a>
                    </li>
                    {% if user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_dashboard' %}">Candidates</a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
			<h1 class="card-title text-center mb-4">Welcome {{ user.username }}!</h1>
			</div>
        </div>
        <div class="row">
			<div class="col-md-12">
                <h5 class="card-title text-center mb-4">
                    Voting Period is between {{vote_set.start_date}} - {{vote_set.end_date}}
                </h5>
			</div>
        </div>
        
		{% if user.role == 'voter' %}
        <div class="row justify-content-center">
            <di v class="col-md-12 d-flex justify-content-center  ">
                <div class="card custom-card" style="width: 18rem;" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if not has_voted %}
                                    Cast your vote
                                    <br/>
                                    <a href="{% url 'vote' %}" style="text-decoration: none;">
                                        <button class="btn btn-primary mt-2">Vote</button>
                                    </a>
                                {% else %}
                                    <p>You have already voted.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card custom-card ml-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Profile
                                <br/>
                                <a href="{% url 'user_details' %}" style="text-decoration: none;">
                                    <button class="btn btn-primary mt-2">Demographics</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.role == 'admin' %}
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex justify-content-center  ">
                    <div class="card custom-card" style="width: 18rem;" >
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    Add candidates
                                    <br/>
                                    <a href="{% url 'add_candidate' %}" style="text-decoration: none;">
                                        <button class="btn btn-primary mt-2">Add Candidate</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card ml-3" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    Profile
                                    <br/>
                                    <a href="{% url 'admin_dashboard' %}" style="text-decoration: none;">
                                        <button class="btn btn-primary mt-2">List Candidates</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card custom-card ml-3" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    Set Dates
                                    <br/>
                                    <a href="{% url 'set_voting_dates' %}" style="text-decoration: none;">
                                        <button class="btn btn-primary mt-2">Set Dates</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card custom-card ml-3" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    List Members
                                    <br/>
                                    <a href="{% url 'customuser_list' %}" style="text-decoration: none;">
                                        <button class="btn btn-primary mt-2">List Members</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
             </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS and jQuery -->	
	<script src="{% static 'evoting/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'evoting/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'evoting/js/bootstrap.min.js' %}"></script>
	
</body>
</html>




